XfTemplate/.vs/
XfTemplate/XfTemplate/XfTemplate.Android/obj/
XfTemplate/XfTemplate/XfTemplate.iOS/bin/
XfTemplate/XfTemplate/XfTemplate.iOS/obj/
XfTemplate/XfTemplate/XfTemplate.UWP/obj/
XfTemplate/XfTemplate/XfTemplate/obj/
XfTemplate/XfTemplate/XfTemplate.UWP/bin/
XfTemplate/XfTemplate/XfTemplate/bin/
XfTemplate/XfTemplate/XfTemplate.Android/bin/
